.projectsWrapper {
  background-color: #F4F5F8;
  overflow: auto;
  padding-bottom: 50px;
}

.project {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: auto;
}

.buttonContainer {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 736px) {
  .buttonLeft {
    float: left;
  }

  .buttonRight {
    float: right;
  }

  .project {
    width: 600px;
  }
}

@media only screen and (min-width: 1069px) {
  .button {
    font-size: 28px;
    width: 250px;
  }

  .project {
    width: 800px;
  }
}
