.buttonWrapper {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #7F7F7F;
  background-color: #FFF;
  border: 2px solid #FFC107;
  padding: 5px 40px;
}

.button:active {
  background-color: #FFC107;
  color: #FFF;
}

.button:focus {
  outline: none;
}

@media only screen and (min-width: 736px) {
  .button {
    font-size: 24px;
   }
}

@media only screen and (min-width: 1069px) {
  .button {
    font-size: 28px;
   }
}
