.buttonWrapper {
  text-align: center;
  margin-top: 30px;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  color: #7F7F7F;
  background-color: #FFF;
  border: 2px solid #FFC107;
  padding: 5px 0;
  width: 260px;
  font-family: 'Lato', sans-serif;
}

.button:active {
  background-color: #FFC107;
  color: #FFF;
}

.button:focus {
  outline: none;
}

@media only screen and (min-width: 1069px) {
  .button {
    font-size: 30px;
    width: 280px;
  }
}
