.paragraph {
  font-size: 16px;
  font-weight: 300;
  color: #7F7F7F;
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  line-height: 2;
}

@media only screen and (min-width: 736px) {
  .paragraph {
    font-size: 20px;
    max-width: 600px;
   }
}

@media only screen and (min-width: 1069px) {
  .paragraph {
    font-size: 24px;
    max-width: 800px;
   }
}
