.navWrapper {
  background-color: #FFA000;
  height: 60px;
}

.navLink {
  display: inline-block;
  font-size: 24px;
  color: white;
  line-height: 60px;
  float: right;
  padding: 0 20px;
}

.navLink:active {
  background-color: #FFF;
  color: #FFA000;
}

.navLogo {
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
}
